@font-face {
	font-family: "helveticaneue";
	src: url(../fonts/RadioCanadaBig-VariableFont_wght.ttf);
}

::-webkit-scrollbar {
    display: none;
}

.scrollableElement::-webkit-scrollbar {
    width: 0px; 
}

* {
	font-family: 'helveticaneue';
	margin: 0;
	padding: 0;
}


body {
    max-width: 100%;
    overflow-x: hidden;
}

img {
	max-width: 100%;
}

header {
	display: flex;
	justify-content: center;
	position: fixed;
	width: 100vw;
	margin-top: 1.2em;
	z-index: 10;
}

nav:first-of-type {
	background-color: white;
	width: 93%;
	border-radius: 2em;
	overflow: hidden;
	height: 3.5em;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.09);
}

nav:first-of-type svg:nth-child(2) {
	width: 7em;
	margin-left: 0.4em;
	/* background-color: aquamarine; */
}

nav:first-of-type div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 1em;
	height:inherit;
}

nav:first-of-type div div {
	/* background-color: blue; */
	display: flex;
	justify-content: center;
	gap: 1px;
	margin: 0;
	gap: 0;
}

nav:first-of-type div > button {
	border-style: none;
	scale: 0.6;
	background-color: transparent;
	margin: 0;
	padding: 0;

}


/* nav:first-of-type div > button:nth-child(2) {
	display: ;
} */

nav:first-of-type div > button:nth-child(2) {
	display: none;
	scale: 0.26;
}

nav:first-of-type div > button:nth-child(3) {
	scale: 0.8;
	padding: 8px;
}

nav:first-of-type div > button:nth-child(3) svg rect{
	width: 24px;
	height: 3.5px;
}


nav:first-of-type div > button:first-of-type svg {
	scale: 58%;
	stroke: black;
	color: black;
	stroke-width: 4.3px;
	padding-bottom: 4px;
}

nav:first-of-type div > button:first-of-type svg circle{
	stroke: black;
	stroke-width: 5px;
}

.fastnedLogo {
	display: none;
}


nav:first-of-type > *:not(div:first-of-type) {
	display: none;
}

section:first-of-type{
	background-color: #C8E4F8;
	width: 100vw;
	height:fit-content;
	padding-top: 100px;
	font-size: clamp(2em, 7vw, 10em);
	color: #421700;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	overflow: hidden;
}

section:first-of-type div:first-of-type{
	padding-left: 5%;
}


section:first-of-type h1{
	font-weight: 100;
}

section:first-of-type h1 em{
	font-style: normal;
	font-weight: 800;
}

section:first-of-type p {
	margin-top: 0.9em;
	font-size: 0.3em;
	font-weight: 100;
	max-width: 76vw;
}

section:first-of-type button {
	background-color: #FFD918;
	padding: 1em 5em;
	border-style: none;
	border-radius: 2em;
	font-weight: 600;
	font-size: clamp(0.4em, 1vw, 4em);
	margin-top: 3em;
	max-width: 80vw;
	color: black;
}

section:first-of-type div:last-of-type{
	margin-top: -1em;
	display: flex;
	position: relative;
	height: auto;
	align-items: flex-end;
}

section:first-of-type img {
	height: auto;
	object-fit: cover;
}


.statsSection {
	margin: 4em 0em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.statsSection div:first-of-type {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 95%;
	padding-bottom: 80%;
	background-color: #9bc3fe;
	border-radius: 2.5em;
	position: relative;
	overflow: hidden;
}

.statsSection div:first-of-type > * {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}



.statsSection div:first-of-type h2{
	z-index: 10;
	font-size: clamp(2em, 10vw, 10em);
	font-weight: 100;
	width: 75%;
	color: #421700;
}

@keyframes swooshAnimatie {
	0% {
		transform: translate(-33%, -46%);
		animation-timing-function: ease-in-out;
	}
	25% {
		transform: translate(41%, 55%);
		animation-timing-function: ease-in;
	}
	50% {
		transform: translate(-33%, -46%) scale(1.2);
		animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
	}
	75% {
		transform: translate(-63%, -76%) scale(2);
		animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
	}
	100% {
		transform: translate(-33%, -46%);
		animation-timing-function: cubic-bezier(1, 0.25, 0.15, 1);
	}
}

.statsSection div:first-of-type img {
	position: absolute;
	scale: 4.5;
	transform: translate(-33%, -46%);
	animation: swooshAnimatie 20s infinite;
}



.statsSection div:last-of-type {
	margin-top: 2em;
    width: 95%; 
    background-color: #9bc3fe;
    border-radius: 2.5em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.statsSection div:last-of-type ul {
	list-style: none;
	font-size: 5em;
	font-weight: 100;
	text-align: center;
	width: 90%;
	margin: 0.2em 0em;
	line-height: 0.6em;
}

.statsSection div:last-of-type li {
	padding: 0.5em 0em;
	padding-top: 0.7em;
	letter-spacing: 6px;
}

.statsSection div:last-of-type li em {
	font-style: normal;
	font-size: 0.35em;
	padding-bottom: 0;
	letter-spacing: normal;
}


.statsSection div:last-of-type li:nth-child(2) {
	border-color: rgb(87, 87, 87);
	border-style: solid;
	border-width: 1px 0px;
}

.appInfoSection {
	display: flex;
	flex-direction: column;
}

.appInfoSection div {
	margin: 1.5em 5%;
}

.appInfoSection > *{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.appInfoSection h2 {
	font-size: clamp(2em, 8.5vw, 10em);
	color: #421700;
	font-weight: 100;
}

.appInfoSection h3 {
	font-size: clamp(2em, 7vw, 10em);
	color: #421700;
	font-weight: 100;
}

.appInfoSection p{
	font-size: 1em;
	color: #421700;
	font-weight: 100;
	line-height: 1.2em;
}


.appInfoSection div:first-of-type div div {
	overflow: hidden;
	border-radius: 2.5em;
	width: 90vw;
	aspect-ratio: 1 / 0.75;
	margin: 0;
}

.appInfoSection div:first-of-type div div img {
	transform: translateY(16%);
	scale: 1.9;
}

.backgroundBox {
	position: relative;
}

.yellowBox{
	position: absolute;
	background-color: #FFD918;
	z-index: -1;
}

.getAppBox {
	background-color:rgb(255, 255, 255);
	padding: 2em 1em 1em 1em;
	overflow: hidden;
	border-radius: 2.5em;
}


.bordauxButton {
	display: flex;
	justify-content: center;
	background-color: #421700;
	color: white;
	text-decoration: none;
	padding: 1em 0em;
	width: 100%;
	margin: 1.5em 5%;
	margin-bottom: 0;
	border-radius: 2.5em;
}

.backgroundBox:hover .yellowBox {
    transform: scale(10); 
    transition: transform 1s ease-in-out; 
}

.howItWorksSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
}

.howItWorksSection > *{
	width: 90vw;
}
.howItWorksSection .bordauxButton{
	margin: 0;
}

.howItWorksSection > h2 {
	display: none;
}
.howItWorksSection-A{
	position: relative;
	display: flex;
	flex-direction: column;
}

.howItWorksSection-A .image-holder-container {
	overflow: hidden;
	border-radius: 2em;
	background-color: transparent;
    width: 90vw; 
    height: auto; 
    transform: skewY(-5deg)  translateY(-05%); 
    border-radius: 2.5em; 
    background-color: transparent; 
	aspect-ratio: 9/13;
}

.howItWorksSection-A .image-holder img {
    transform-origin: top left; 
    transform: skewY(5deg) translateY(-0%) scale(1); 
    width: 100%; 
    object-fit: contain; 
	background-color: transparent;
	border-radius: 2.5em;
}


.howItWorks-B-container {
    overflow: hidden;
    border-radius: 2.5em;
    transform: translateY(-16%);
    
	width: 90vw;
}

.howItWorks-B {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
    overflow: hidden;
    border-radius: 2.5em;
    transform: skewY(-5deg) translateY(15%);
	height: 100%;
    background-color: #FFD918;
    padding: 1em;
    padding-bottom: 5.5rem;
}

.howItWorks-B > * {
	transform: skewY(5deg);
}

.howItWorks-B .bordauxButton {
	width: 100%;
	margin-top: 1.5em;
	border-radius: 3em;
	margin-bottom: 0.2em;
}

.howItWorks-B h3 {
	font-size: clamp(1em, 2em, 10em);
	color: #421700;
	margin: 0.2rem;
	margin-top: 2em;
	font-weight: 100;
}

.howItWorks-B p {
	font-size: clamp(0.5em, 1.1em, 10em);
	margin: 0.2rem;
	margin-top: 1.5em;
}

.howItWorksSection-B {
	display: flex;
	flex-direction: column;
	gap: 2em;
	margin-bottom: 3em;
}

.howItWorksSection-B h2 {
	font-weight: 100;
	font-size: clamp(1em, 08vw, 6em);
}


.howItWorksSection-B > div {
	border-color: rgba(87, 87, 87, 25%);
	border-style: solid;
	border-width: 1px;
	border-radius: 2.5em;
	padding: 2em 1em;
}

.howItWorksSection-B > div h3 {
	margin-top: 0.2em;
	font-size: clamp(1em, 06vw, 6em);
}

.howItWorksSection-B > div p {
	margin-top: 0.9em;
	font-size: clamp(0.1em, 4vw, 5em);
}

.howItWorksSection-B > div a {
	text-decoration: none;
	color: #421700;
	font-weight: bold;
	font-size: clamp(0.8em, 3vw, 5em);
}

.howItWorksSection-B > div div {
	margin-top: 1em;
}

.howItWorksSection-B > div img:nth-child(1) {
	border-radius: 1.5em;
}

.howItWorksSection-B > div img:nth-child(2) {
	filter: brightness(0) saturate(100%) invert(10%) sepia(51%) saturate(3565%) hue-rotate(24deg) brightness(94%) contrast(105%);
	width: 0.9em;
	margin-left: 0.5em;
}

.solarTreesSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
}

.solarTreesSection .image-holder-container {
	overflow: hidden;
	border-radius: 2em;
	background-color: transparent;
    width: 90vw; 
    height: auto; 
    transform: skewY(-5deg)  translateY(-09%); 
    border-radius: 2.5em; 
    background-color: transparent; 
}

.solarTreesSection .image-holder img {
    transform-origin: top left; 
    transform: skewY(5deg) translateY(-0%) scale(1); 
    width: 100%; 
    object-fit: contain; 
	background-color: transparent;
	border-radius: 2.5em;
}

.solarTrees-container {
    overflow: hidden;
    border-radius: 2.5em;
    transform: translateY(-16%);
	width: 90vw;
}

.solarTrees {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
    overflow: hidden;
    border-radius: 2.5em;
    transform: skewY(-5deg) translateY(15%);
	height: 100%;
    background-color: #e5deff;
    padding: 1em;
    padding-bottom: 5.5rem;
}

.solarTrees > * {
	transform: skewY(5deg);
}

.solarTrees .bordauxButton {
	width: 100%;
	margin-top: 1.5em;
	border-radius: 3em;
	margin-left: 0;
	margin-bottom: 0.2em;
}

.solarTrees h3 {
	font-size: clamp(1em, 2em, 10em);
	color: #421700;
	margin: 0.2rem;
	margin-top: 2em;
	font-weight: 100;
}

.solarTrees p {
	font-size: clamp(0.5em, 1.1em, 10em);
	margin: 0.2rem;
	margin-top: 1.5em;
}

.energyFriendly > div a {
	text-decoration: none;
	color: #421700;
	font-weight: bold;
	font-size: clamp(0.8em, 3vw, 5em);
}

.energyFriendly > div img:nth-child(2) {
	filter: brightness(0) saturate(100%) invert(10%) sepia(51%) saturate(3565%) hue-rotate(24deg) brightness(94%) contrast(105%);
	width: 0.9em;
	margin-left: 0.5em;
}














.businessSection > div a {
	text-decoration: none;
	color: #421700;
	font-weight: bold;
	font-size: clamp(0.8em, 3vw, 5em);
}

.businessSection div > img:nth-child(1) {
	filter: brightness(0) saturate(100%) invert(10%) sepia(51%) saturate(3565%) hue-rotate(24deg) brightness(94%) contrast(105%);
	width: 0.9em;
	margin-left: 0.5em;
}

.newsLetterSection > div a {
	text-decoration: none;
	color: #421700;
	font-weight: bold;
	font-size: clamp(0.8em, 3vw, 5em);
}

.newsLetterSection > div img:nth-child(2) {
	filter: brightness(0) saturate(100%) invert(10%) sepia(51%) saturate(3565%) hue-rotate(24deg) brightness(94%) contrast(105%);
	width: 0.9em;
	margin-left: 0.5em;
}

.newsLetterSection > div {
	display: flex;
	justify-content: center;
	border-style: solid;
	border-width: 1px;
	padding: 0.5em 1em;
	border-radius: 1em;
}
